


* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
 /* ul li {
    list-style: none;
  } */
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }

  div {
    box-sizing: border-box;
}

nav {
    float: right;
    margin-top: 81px;
}

body {
    background-color: #f6f9fa;
}

.heading {
    height: 150px;
}

.container {
    width: 82%;

    margin: 0 auto;
}

.logo {
    margin-top: 53px;
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 100px;
}

.menu {
    margin: 0;
    padding: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
    font-size: 20px;
    font-family: "Gilroy-Medium";
}

.menu a {
    color: #000000;
    text-decoration: none;

}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("./fonts/Gilroy/gilroy-medium.ttf") format("truetype");
    font-style: 500;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("./fonts/Gilroy/gilroy-bold.ttf");
    font-style: 700;
    font-weight: 700;
}
@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/gilroy-regular.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('./fonts/Gilroy/gilroy-semibold.ttf');
}

.title {
  width: 923px;
  height: 74px;

  font-family: Gilroy-Bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.05em;
  color: #3C414F;
  margin-bottom: 51px;
  margin-top: 211px;
}

.main-text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #000000;

}

.main-text p {
    margin-bottom: 53px;
}

.main-text li {
  list-style-position: outside;
  margin-bottom: 20px;
}

.main-text li:last-child {
  margin-bottom: 0px;
}

.main-text ul {
  padding-left: 50px;
}

.white-stuff-2 {
    width: 100%;
    height: 261px;
    margin-top: 238px;
    background: #FFFFFF;
    border-radius: 30px;
}

.contacts-phrase {
    width: 95px;
    height: 24px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #00123F;
}

.contacts {
    width: 266px;
    height: 23px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;

    color: #00123F;
}

.contacts a{
    color: #00123F;
}

.contacts-list {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
}

.contacts-list p{
    margin-bottom: 27px;
}

.contacts-list p:last-child{
    margin-bottom: 0;
}

.directions{
  margin-top: 70px;
 }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex a{
  margin-bottom: 50px;
  margin-right: 40px;
}

.flex div:last-child {
  margin-bottom: 0px;
  margin-right: 0px;
}
 

.button-1 {
  width: 321px;
  height: 46px;
  background: linear-gradient(90.79deg, #F9E9DC 4.7%, #FFCBA0 99.76%);
  border: 2px solid #3C414F;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;

  text-align: center;
  vertical-align: middle;
}

.button-2 {
  width: 321px;
  height: 46px;
  
  background: linear-gradient(90.79deg, #E4DDFB 4.7%, #6841DD 99.76%);
  border: 2px solid #3C414F;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px; 
}

.button-3 {
  width: 321px;
  height: 46px;

  
  background: linear-gradient(90.79deg, #FFEFBA 4.7%, #FBF7EA 99.76%);
  border: 2px solid #3C414F;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.button-4 {
  width: 321px;
  height: 46px;

  background: linear-gradient(90.79deg, #FBAEBC 4.7%, #B8485C 99.76%);
  border: 2px solid #3C414F;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.directions-text {
  width: 321px;
  height: 46px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.button-1 p {
  width: 321px;
  height: 46px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000; 
}